body{
    background-image: url("Javajam Data Files/background.gif");
    background-color: #FCEBB6;
    color: #221811;
    font-family: Verdana ,Arial, sans-serif;
}
header{
    background-color: #D2B48C;
    height: 150px;
    background-image: url("Javajam Data Files/javajamlogo.jpg");
    background-repeat: no-repeat;
}
h1{

    padding-top: 45px;
    padding-left: 220px;
    font-size: 3em;
}
h4{
    text-transform: uppercase;
    background-color: #D2B48C;
    font-size: 1.2em;
    padding-left: .5em;
    padding-bottom: 0;
    border-bottom: 0;
    clear: left;
}
.details{
    padding-left: 20%;
    padding-right: 20%;
    overflow: auto;
}
image{
    padding-left: 10px;
    padding-right: 10px;
}
nav{
    font-size: 1.5em;
    padding-top: 10px;
    text-align: center;
    font-weight: bold;
    float: left ;
    width: 200px;
    
}
nav a{
    text-decoration: none;
}
main{
    display: block;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 2em;
    padding-top: 0;
    margin-left: 200px;
    background-color: #FEF6C2;

}
footer{
    padding-bottom: 10px;
    border-top:solid 2px #221811;
    background-color: #D2B48C;
    font-size:.60em;
    font-family: italic;
    text-align: center;
}
#wrapper{
    background-color: #231814;
    min-width:900px;
    max-width: 1280px;
    box-shadow: 10px 10px;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

*{box-sizing: border-box;}/*the star* mean that apply on all the code in css*/

#heroroad{/*id selector #*/
    background-image: url("Javajam Data Files/heroroad.jpg"); 
    background-size: 100%;
    height: 250px;
}
#heromugs{
    background-image: url("Javajam Data Files/heromugs.jpg"); 
    background-size: 100%;
    height: 250px;
}
#heroguitar{
    background-image: url("Javajam Data Files/heroguitar.jpg"); 
    background-size: 100%;
    height: 250px;
}
main h2, main h3,main h4,main p,main div,main ul,main dl{
    padding-left: 3em;
    padding-right: 2em;
}
nav a:link{
    color: #FEF6C2;
}
nav a:visited{
    color:#D2B48C
}
nav a:hover{
    color: #CC9933;
}

nav ul{
    list-style-type:none ;/*withous list maarker*/
    padding-left: 0;

}
.floatleft{
    float: left;
    padding-bottom: 2em;
    padding-right: 2em;
}
header,nav,main,footer{
    display: block;
}

table{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border-spacing: 0;
    background-color: #FFFFCC;

}

table td, table th{
    padding: 10px;
}

tr:nth-of-type(odd){
    background-color: #D2B48C;
}

form{
    padding: 2em;
    
}

label{
    float: left;
    display: block;
    text-align: right;
    width: 8em;
    padding-right: 1em;
}

textarea, input {
    display: block;
    margin-bottom: 1em;
}

#mySubmit{
    margin-left: 9.5em;
}

#herojobs{
    height: 250px;
    background-image: url("Javajam Data Files/herojobs.jpg");
    background-size: 100% 100%;
}






/*the arrangement is not important*/
/*随便排都可以main，nav那些*/